In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('Latest Football  Players 2024 Data.csv')
data.head()

,Teams,Seasons,Players,Matches,Goals,Assists,Seasons Ratings
0,InterMiami,2024,Lionel Messi,15,14,11,8.5
1,InterMiami,2023,Lionel Messi,14,11,5,8.0
2,PSG,2022/2023,Lionel Messi,41,21,20,8.1
3,PSG,2021/2022,Lionel Messi,34,11,14,7.9
4,Barcelona,2020/2021,Lionel Messi,47,38,12,8.4

In [11]:
data.shape

(1216, 7)

In [12]:
data.dtypes

Teams               object
Seasons             object
Players             object
Matches              int64
Goals                int64
Assists              int64
Seasons Ratings    float64
dtype: object

In [13]:
data.describe()

           Matches        Goals      Assists  Seasons Ratings
count  1216.000000  1216.000000  1216.000000      1216.000000
mean     37.024671     8.059211     4.797697         7.111595
std      11.762088     9.351558     4.496019         0.410907
min       1.000000     0.000000     0.000000         5.100000
25%      31.000000     2.000000     1.000000         6.900000
50%      39.000000     4.000000     4.000000         7.100000
75%      46.000000    12.000000     7.000000         7.300000
max      59.000000    55.000000    25.000000         8.900000

In [14]:
df = pd.DataFrame(data)
df

,Teams,Seasons,Players,Matches,Goals,Assists,Seasons Ratings
0,InterMiami,2024,Lionel Messi,15,14,11,8.5
1,InterMiami,2023,Lionel Messi,14,11,5,8.0
2,PSG,2022/2023,Lionel Messi,41,21,20,8.1
3,PSG,2021/2022,Lionel Messi,34,11,14,7.9
4,Barcelona,2020/2021,Lionel Messi,47,38,12,8.4
...,...,...,...,...,...,...,...
1211,Real Sociedad,2020/2021,Mikel Oyarzabal,43,13,10,7.1
1212,Real Sociedad,2019/2020,Mikel Oyarzabal,45,13,13,7.1
1213,Real Sociedad,2018/2019,Mikel Oyarzabal,41,14,2,6.7
1214,Real Sociedad,2017/2018,Mikel Oyarzabal,43,14,6,7.0
1215,Real Sociedad,2016/2017,Mikel Oyarzabal,43,4,8,6.6

In [16]:
data.isnull().sum()

Teams              0
Seasons            0
Players            0
Matches            0
Goals              0
Assists            0
Seasons Ratings    0
dtype: int64

In [21]:
data.head()

,Teams,Seasons,Players,Matches,Goals,Assists,Seasons Ratings
0,InterMiami,2024,Lionel Messi,15,14,11,8.5
1,InterMiami,2023,Lionel Messi,14,11,5,8.0
2,PSG,2022/2023,Lionel Messi,41,21,20,8.1
3,PSG,2021/2022,Lionel Messi,34,11,14,7.9
4,Barcelona,2020/2021,Lionel Messi,47,38,12,8.4